body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  color: #fff;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.search input {
  padding: 8px;
  font-size: 16px;
}

.search button {
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.weather-card {
  margin-top: 20px;
  background: #2193b0;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

